.button, input {
    padding: 10px;
    background: transparent;
    border: 2px solid;
    font-size: 20px;
    padding: 5px;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(93deg, rgba(41,31,198,1) 0%, rgba(236,49,188,1) 50%, rgba(125,50,162,1) 99%);
}

.input {
    margin-right: 1px;
    width: 300px;
    padding: 10px;
    outline: none;
    font-weight: bold;

}

.input::placeholder {
    color: black;
}